JWT_ACCESS_KEY = very_secret_key
JWT_REFRESH_KEY = very_secret_key2

MARIADB_HOST=database_host
MARIADB_PORT=1234
MARIADB_USERNAME=username
MARIADB_PASSWORD=password
MARIADB_DATABASE=database_name

STORM_MARIADB_HOST=database_host
STORM_MARIADB_PORT=1234
STORM_MARIADB_USERNAME=username
STORM_MARIADB_PASSWORD=password
STORM_MARIADB_DATABASE=database_name

IV=code123
KEY=code123
SALT=code123

CLIENT_URL=http://localhost:5173
SERVER_API_PREFIX=apiv1

AUTH_STORM_URL=https://testmanage.stormapi.su/api
API_KEY=api_key

# PATH_TO_STATIC=/path/to/static